<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Posts:</strong>
  
    <%text=@user.microposts.order("created_at DESC")%>
  <%text.each do |t|%>
  <br>
  <p><%=t.content%></p>
  <p><%=t.created_at.strftime("%b %d, %Y")%></p>
  <br>
  <%end%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
